header{

    background-color: #01579B;
    box-shadow: 0px 10px 20px rgba(50, 50, 50, 0.50);
    z-index: 20;
    position: fixed;
    width: 100%;
    top:0;

}

.page{
    visibility: hidden;
 }

.main-menu{
    list-style: none;
    
}

.main-menu__item{
  
    float:left;
    font-family:sans-serif;
    width: 25%;
    text-align: center;
    padding: .5em;
    font-size: 1em;
    cursor: pointer;
}

.main-menu__item__selected{
    background-color: #0668B3;
    border-bottom: 2px solid #FFFFFF;
}

.main-menu__link
{
    color: #FFFFFF;
    display: block;
    text-decoration: none;
    -webkit-transition: 0.4s linear all;
    -moz-transition: 0.4s linear all;
    transition: 0.4s linear all;
   
}

.main-menu--child{
    position: absolute;
    display: none;
    background-color: #01579B;
    width: 20%;
  
   
}

.main-menu__item--child{
    float: none;
    width: 100%;
    
   
}

.main-menu__item:hover > .main-menu--child{
    display: block;
}



.main-menu__item:hover{
    transition: linear;
    transition-duration: .25s;
    background-color: #01487E;
}

.main-login-registration{
 width: 100%;
 margin: 9em;
 overflow: hidden;

}

.login-container{
    background: rgba(233, 233, 233, .9);
    display: flex;
    padding: 1em;
    font-family: sans-serif;
    box-shadow: 0px 10px 20px rgba(50, 50, 50, 0.50);
    z-index: 20;
}

.login-container__form{
  
    float: left;
    background:rgba(1, 87, 155,.9);
    width: 35%;
    margin-left:auto;
    margin-right: auto;
    
}


.login-form{

    
    padding-top: 2em;
    padding-right: 1em;
    padding-bottom: 2em;
    padding-left: 1em;
   
}


.login-form__input{
    
    width: 100%;
    margin-bottom: 1em;
    padding: 0.3em;
    line-height: 2; 
}

.login-form__submit{
    width: 100%;
    background: teal;
    color: #fff;
    border: none;
    line-height: 2.5;
    text-transform: uppercase;
    font-size: 1.1em;
    
}
.login-container__title{
    background: teal;
    text-align: center;
    padding: .9em;
    margin: 0;
    color: white;
    font-size: 1.5em;
}



.logo-header{
    width: 100%;
    padding: .5em;
    margin: .5em; 
}

.logo-img{
    display: block;
    width: 15em;
    margin-right: auto;
    margin-left: auto; 
}

#parrafo{
    margin-top: 30em;
}

#content{
    margin-top: 150px;
    margin-left: 10%;
    margin-right: 10%;
    min-height: calc(100vh - 220px);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border: 1px solid #7E7E7E;
    
    box-shadow: 0px 10px 20px rgba(50, 50, 50, 0.50);
    z-index: 10;
    width: 100%;
}

td{
    text-align: right;
    padding: 10px;
}

th {
    text-align: center;
    background-color: #E73B3B;
    color: #FFFFFF;
    padding: 15px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(uneven) {
    background-color: #FFFFFF;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    margin-top: 20px;
    clear: both;
    width: 100%;
    height: auto;
    background-color: #000000;
    color: white;
    font-style: italic;
    line-height: 50px;
    
}

#f1{
    float: left;
    text-align: left;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

#f2{
    text-align: right;
    margin-right: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.slideshow{
    position: relative;
    float: center;
    padding: 1.5px;
}

.slider li, ul{
    width: 100%;
}

.slider li{
	overflow: hidden;
}

.slider li img{
    width: 100%;
    
}

.slider .caption{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 15px 50px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	text-align: center;
	color: #fff;
	z-index: 1;
}

.slider .caption h1{
	font-size: 50px;
}

.slider .caption p{
	margin-top: 10px;
	font-size: 20px;
}


.left, .right{
	position: absolute;
	top: 0;
	height: 100%;

	display: flex;
	align-items: center;

	color: #fff;
	font-size: 35px;
	cursor: pointer;
	z-index: 2;
}

.left{
	left: 10px;
}

.right{
	right: 10px;
}

.post{
    margin-top: 28px;
    height: auto;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(50, 50, 50, 0.50);
    z-index: 10;
}

.post-img{
    height: 120px;
    width: 120px;
    float: left;
}

.post-body{
    margin-left: 140px;
    margin-top: -20px;
    min-height: 120px;
}

.post-title{
    color: #494646;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: Arial, Helvetica, sans-serif;
    
}

.post-parr{
    color: #494646;
    text-align: justify;
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap:break-word;
}

.indicador{
    width: 200px;
    height: 40px;
    float: right;
}

.form-title{
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.form-holder{
    padding: 20px;
    box-shadow: 0px 10px 20px rgba(50, 50, 50, 0.50);
    z-index: 10;
    background-color: #FFFDFC
}

.form-item{
    margin-top: 15px;
    margin-bottom: 15px;

}

.form-item label, select, input{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.form-item select, input{
    border: 2px solid #FF9800;
    border-radius: 4px;
    width: 100%;
}

.form-fecha label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: block;
    width: 100%;
}

.form-fecha select{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: 2px solid #FF9800;
    border-radius: 4px;
}

.btn{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #E73B3B;
    border-collapse: collapse;
    border: 0px solid #7E7E7E;
    color: #FFFFFF;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn2{
    background-color: #36C531;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 7px;
    
    padding-top: 1px;
    padding-bottom: 1x;
}

.btn3{
    background-color: #FC6A27;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 7px;
    padding-top: 1px;
    padding-bottom: 1x;
}



